//Theme Variables
// Including Bootstraap Variables Overwrite


// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #222 ;
$gray:                      #333 ;
$gray-light:                #f5f5f5 ;
$white:						#ffffff;
$black:						#000;

$green:             		#93C01F ;
$green-light:           	#DDDE68 ;


$colors: ();
$colors:  (
	"gray-dark":	$gray-dark,
	"gray":			$gray,
	"gray-light":	$gray-light,
	"black":      	$black,
	"white":      	$white,
	"green":      	$green,
	"green-light": 	$green-light,
);

$theme-colors: ();
$theme-colors: (
	"gray-dark":	$gray-dark,
	"gray":			$gray,
	"gray-light":	$gray-light,
	"black":      	$black,
	"white":      	$white,
	"green":      	$green,
	"green-light": 	$green-light,
);

// Body
//
// Settings for the `<body>` element.

$body-bg:                    $gray-dark ;
$body-color:                 $white;


// Links
//
// Style anchor elements.

$link-color:                 $white;
$link-decoration:            none ;
$link-hover-color:           $green;
$link-hover-decoration:      none ;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 ;
$grid-gutter-width:          1.875rem ; // 30px


// Typography
//
// Font, line-height, and color for body text, headings, and more.
$enable-responsive-font-sizes: true; // Yeah Baby responsive font Sizes


$font-family-sans-serif:      'Titillium Web', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

$font-family-headings:      "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-weight-normal:          400;


$font-size-base:             1.25rem ;  // 20px;


$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;

$font-weight-base:            $font-weight-normal;
$line-height-base:            1.5;

$h1-font-size:                6rem;
$h2-font-size:                4rem;
$h3-font-size:                3rem;
$h4-font-size:                1.625rem;
$h5-font-size:                1.25rem;
$h6-font-size:                $font-size-base;

$headings-margin-bottom:      1.25rem;
$headings-font-family:        $font-family-headings;
$headings-font-weight:        700;
$headings-line-height:        1.2;
$headings-color:              inherit;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  xl: 1140px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 15px;
$spacers: ();

$spacers: map-merge(
  (
    0: 0,
    1: $spacer,
    2: ($spacer * 2),
    3: ($spacer * 3),
    4: ($spacer * 4),
    5: ($spacer * 5)
  ),
  $spacers
);

// Hamburger Menu
//
$hamburger-padding-x : 15px;
$hamburger-padding-y : 15px;
$hamburger-layer-width : 32px;
$hamburger-layer-height : 4px;
$hamburger-layer-spacing : 6px;
$hamburger-layer-color : $white;
