.headline_line_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .line_before, .line_after {
        height: 1.5px;
        background: white;
        width: 50px;
    }
}

.headline_with_lines, .headline_without_lines {
    font-family: Cheddar, sans-serif;
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 38px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    margin: 0;
    margin: 0 50px;
}

