/* Basic Styles Styles
-------------------------------------------------------------------------------*/
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;

    &.menu-open {
        overflow: hidden;
    }

}

/* Typo Styles
-------------------------------------------------------------------------------*/


/* List Styles
-------------------------------------------------------------------------------*/

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Link Styles
-------------------------------------------------------------------------------*/


/* List Styles
-------------------------------------------------------------------------------*/


/* Buttons Styles
-------------------------------------------------------------------------------*/








