@each $color, $value in $theme-colors {
    @include bg-variant(".has-#{$color}-background-color", $value);
}

@each $color, $value in $theme-colors {
    @include text-emphasis-variant(".has-#{$color}-color", $value);
}


.wp-block-group {
    margin-top: 100px;

    @include media-breakpoint-down(md) {
        margin-top: 75px;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 60px;
    }


    &.has-background {
        padding: 75px 0;

        @include media-breakpoint-down(md) {
            padding: 50px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 35px 0;
        }
    }

    .content-block {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    &:not(.alignfull) {
        .wp-block-group__inner-container {
            padding-left: 0;
            padding-right: 0;
        }
    }


}

.wp-block-group__inner-container {
    @include make-container();
    @include make-container-max-widths();

    .container {
        padding-left: 0;
        padding-right: 0;
    }

}
